* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: cursive;
  background-color: #eee;
}

#header-img {
  width: 50px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;     
}

#header{
  display: flex;
  z-index: 1000;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  background-color: #111;
  width: 100%;
  padding: 14px 24px;
  overflow-x: 0;
  margin-bottom: 20px;
}

.navbar-left{
  display: flex;
  align-items: center;
  color: #fff;
}

.nav-link{
  text-decoration: none;
  padding: 20px;
  color: #fff;
}

h1 {
  font-size: 42px;
  text-align: center;
  margin: 100px 0 20px;
  color: #333;
  
}

#form{
  text-align: center;
}

#email{
  padding: 5px;
  width: 250px;
  height: 40px;

}

#submit{
  background-color: yellow;
  color: #111;
  padding: 5px;
  border-radius: 5px;
  height: fit-content;
}

.features{
  padding: 50px;
  margin-left: 50px;
  display:flexbox;
  
}

h2{
  font-size: 36px;
}

p{
  font-size: 20px;
}

.product{
  text-align: center;
}

.video-container{
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 40px 0;
}

#pricing{
  display:flex;
}

.athletic{
  width: 300px;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  margin-left: 120px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: rgb(109, 156, 21);
}

.basket-ball{
  width: 300px;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
  background-color: rgb(109, 156, 21);
  padding-bottom: 20px;
}

.badminton-shoe{
  width: 300px;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: rgb(109, 156, 21);
}

.select{
  background-color: #111;
  color: #fff;
  padding: 10px;
  width: 100px;
  margin-top: 10px;
  border-radius: 20px;
}

fieldset h2{
  background-color: #eee;
  border-radius: 10px;
}

